service: seeclickfix
image: aosik/seeclickfix-sentiment

servers:
  web:
    hosts:
      - 89.167.56.225

registry:
  username: aosik
  password:
    - KAMAL_REGISTRY_PASSWORD

env:
  clear:
    DATA_DIR: /app/data

volumes:
  - seeclickfix_data:/app/data

proxy:
  ssl: true
  host: seeclickfixsentiment.hackjc.org
  app_port: 8000

builder:
  arch: amd64